.platforms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 350px;
    width: 50%;

    margin-left: auto;
    margin-right: auto;

    transition: all 1s ease-in-out;
}

.platform-section {
    height: 400px;
}

.contact-us {
    width: 200px;
    height: 40px;
    border: 1px solid rgb(126, 126, 126);
    background-color: rgba(0, 0, 0, 0.395);
    border-radius: 5px;

    display: block;
    margin-bottom: 100px;

    text-align: center;
    color: rgb(172, 172, 172);
    font-family: Poppins, sans-serif;
    font-size: 20px;
    margin: -20px auto 0px auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contact-us:hover {
    background-color: rgba(231, 231, 231, 0.804);
    color: #E43268;
    font-weight: 600;
}

.scrolling-text {
    display: inline-block;
    transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    will-change: transform;
    backface-visibility: hidden;
  }

  .scrolling-text .scrolling-text-content {
    color: #fff;
    font-size: 30px;
    font-family: Poppins, sans-serif;
    font-weight: 200;
    word-spacing: 20px;
    white-space: nowrap;
    transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    line-height: 1em;
    margin: 15px 0;
  }
  
.divider {
    margin-top: 30px;
    height: 60px;
    overflow: hidden;
    background-color: black;
}

.platform {
    margin: 10px;
    height: 90%;
    
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.025);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-in-out;
    transition-property: box-shadow, border, backdropfilter, transform;
}

.platform:hover {
    backdrop-filter: blur(15px);
    border: 1px solid #e432673e;
    box-shadow: 0 4px 30px #e4326790;
    background: linear-gradient(45deg, #8d2e2e, transparent);
}

.on-big-window {
    visibility: hidden;
    display: none;
}

.platforms .div1 { grid-area: 1 / 1 / 2 / 2; }
.platforms .div2 { grid-area: 1 / 2 / 2 / 3; }
.platforms .div3 { grid-area: 2 / 1 / 3 / 2; }
.platforms .div4 { grid-area: 2 / 2 / 3 / 3; }

@media (min-width: 0px) and (max-width: 680px) {
    .platforms {
        width: 90%;
    }
    .platforms .div1 { grid-area: 1 / 1 / 2 / 2; }
    .platforms .div2 { grid-area: 1 / 2 / 2 / 3; }
    .platforms .div3 { grid-area: 2 / 1 / 3 / 2; }
    .platforms .div4 { grid-area: 2 / 2 / 3 / 3; }
    .divider {
        margin-top: 60px;
    }

    .platform {
        transition: all 0.5s ease-in-out;
        transition-property: box-shadow, border, backdropfilter, transform, background-color;
    }
}

@media (min-width: 1030px) and (max-width: 2000px) {
    .platforms {
        width: 50%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .on-big-window {
        visibility: visible;
        display: block;
    }
    .platform-section {
        height: 350px;
    }
    .divider {
        margin-top: 0px;
    }
    
    .platforms .div3 { grid-area: 1 / 3 / 2 / 3; }
    .platforms .div4 { grid-area: 1 / 4 / 2 / 4; }
}

.icon-holder {
    display: flex; 
    justify-content: center;
}
.platforms i {
    color: rgba(241, 241, 241, 0.858);
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 70px;
    margin-top: 30px;
}

.platform ul {
    color: rgba(255, 255, 255, 0.734);
    font-family: Poppins, sans-serif;
    font-size: 14px;

    position: relative;
    padding-left: 28px;
    top: -10px;
}
.platform button {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #121212;
    background-color: #00000052;
    color: white;
    font-family: Poppins, sans-serif;
}
.platform button:hover {
    background-color: #0000009f;
}

.platforms h3 {
    text-align: center;
    color: rgba(255, 255, 255, 0.744);
    margin-top: 30px;
    font-family: Poppins, sans-serif;
}