.table_component {
    overflow: auto;
    width: 100%;
    font-family: Poppins, sans-serif;
}

.table_component table {
    border: 1px solid #4d4d4d;
    height: 100%;
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    border: 1px solid #4d4d4d;
    background-color: #141414;
    color: #fcfcfc;
    padding: 5px;
}

.table_component td {
    border: 1px solid #4d4d4d;
    background-color: #292929;
    color: #c1c1c1;
    padding: 5px;
}

@media (min-width: 0px) and (max-width: 930px) {
    .table_component {
        margin-top: 120px;
    }

    .parent div {
        height: 450px;
    }
}